---
title: Acme Portfolio
organization: Acme Inc
lang: en
author: webmaster@acme.com
description: Portfolio for Acme Inc
keywords: website, portfolio
layout: false
---
<!doctype html>
<html lang="{{.lang}}">
  <head>
    <title>{{.title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="{{.author}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href='{{root "favicon.png"}}' />
    {{if .description}}
    <meta name="description" content="{{.description}}" />
    {{end}}
    <link rel="stylesheet" href='{{root "app.css"}}' />
  </head>
  <body>
    <header>
      <h1>ᴥ {{.organization}}</h1>
      <nav>
        <a href="#home" title="Home page">Home</a>
        <a href="#about" title="About us">About</a>
        <a href="#portfolio" title="Our portfolio">Portfolio</a>
      </nav>
    </header>
	<main>
      <section id="home">
        <h2>Home</h2>
        <p>Welcome, this is a web page created from the default template. Customize it to your style!</p>
        <p>It's intentionally very simple just a 
          blend of quality <abbr title="Cascading Style Sheets">CSS</abbr> and
          <abbr title="HyperText Markup Language">HTML</abbr> with a touch of 
          Javascript for the smooth scroll.</p>
      </section>
      <section id="about">
        <h2>About</h2>
        <p>This template was created using an early prototype of the pageloop editor in vim mode.</p>
        <p>It is really lean; no custom fonts, fancy animations or scripts not even any images or SVG, absolute basics!</p>
      </section>
      <section id="portfolio">
        <h2>Portfolio</h2>
        <p>Ut bibendum massa orci, a vestibulum est fermentum quis. Donec a mollis neque. Mauris tempor rutrum mauris, id consectetur est dapibus sed. Suspendisse pharetra laoreet massa, nec egestas nisi placerat quis. Nam fringilla turpis a ligula sollicitudin, ac commodo turpis placerat. Pellentesque cursus eget odio vel condimentum. Fusce venenatis mi auctor, sagittis lacus sit amet, tristique leo. Mauris pretium est nunc, non varius diam facilisis eleifend. Proin eleifend magna venenatis sapien commodo laoreet. Donec malesuada, nulla at pretium sodales, nunc mauris congue risus, vitae posuere turpis arcu in nisi. Maecenas at est ac nunc faucibus sollicitudin. Suspendisse gravida elit ante, non pellentesque metus sollicitudin non. Praesent eu sollicitudin massa. Donec et congue orci.</p>
        <p>Phasellus facilisis eros vel dui lobortis, at posuere neque placerat. Duis vel congue risus. Cras in tincidunt nunc. In lacinia euismod nulla id consequat. Nam enim justo, gravida eu nunc sed, tempus lacinia augue. Vivamus auctor magna convallis nibh adipiscing, quis consectetur enim scelerisque. Integer consequat porta odio, facilisis pulvinar eros tincidunt vitae.</p>
      </section>
	</main>
    <footer>
      <p>&copy; {{.organization}}. All rights reserved.</p>
    </footer>
  </body>
</html>