form > div {
  margin: 1rem 0;
}

label {
  display: block;
}

hr {
  margin-top: 2rem;
}

input[type="radio"] + label {
  display: inline-block;
}

#log {
  max-height: 12rem;
  overflow-y: auto;
  overflow-x: none;
}

h4 {
  display: inline-block;
  border-bottom: 1px solid black;
}
