.api h2 {
  font-family: mono;
  padding-bottom: 0.2rem;
  font-size: 1.4rem;
  margin-bottom: 0;
  border-bottom: 1px dotted currentColor;
}

.toc ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.toc li {
  padding-left: 2rem; 
}

.tip:before {
  content: "âŸ ";
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
  font-size: 3.4rem;
  color: var(--cyan-color);
}

.toc li > p:first-child {
  margin-bottom: 0; 
  margin-top: 0.5rem;
}

.toc li > p:first-child + p {
  margin: 0;
  font-size: 1.5rem;
}
