@font-face {
  font-family: 'SourceSerif';
  src: url('/assets/font/sourceserifpro-regular-webfont.woff2') format('woff2'),
       url('/assets/font/sourceserifpro-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'SourceSans';
  src: url('/assets/font/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('/assets/font/sourcesanspro-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  font-size: 62.5%
}

*, *:after, *:before {
  box-sizing: inherit
}


html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: 'SourceSerif';
}

header, main, footer {
  text-align: left;
}

main {
  display: inline-block;
  margin: auto 0;
  min-width: 480px;
  max-width: 640px;
  padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SourceSans';
  padding: 0;
  font-weight: normal;
}

h1 {
	font-size: 2.6rem;
  text-transform: uppercase;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

input {
  font-family: 'SourceSans';
}

input[type="text"], textarea {
  width: 100%;
  padding: .5rem;
  border-radius: 4px;
}

textarea {
  min-height: 8rem;
}

header {
  border-bottom: 4px double black;
}

h2 {
  display: inline-block;
  border-bottom: 1px solid black;
  text-transform: none;
  margin: 2rem 0 1.5rem 0;
}

h5, h6 {
  margin-bottom: 1rem;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
*/

p {
  margin: 0 0 1rem 0;
}

a, a:hover, a:visited {
	display: inline-block;
  text-decoration: none;
  color: #e30053;
	line-height: 1em;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom: 2px solid currentColor;
	transition: all 0.4s ease-out;
}

header > h1 {
  position: relative;
  text-align: center;
	margin: 3rem 0;
	font-size: 2.6rem;
	vertical-align: top
}

header > h1 > span:first-child {
	font-size: 2.4rem;
}

/*
header > h3 > a:last-child {
	display: inline-block;
  position: absolute;
  right: 0;
  top: 1px;
  color: black;
}
*/

header + nav {
	display: flex;
	font-size: 1.6rem;
	font-family: SourceSans;
	text-transform: uppercase;
  /*border-bottom: 4px double black;*/
	margin-bottom: 2rem;
}

header + nav > a, header + nav > a:visited {
	flex: 1 0;
	text-align: center;
	padding: 0.5rem 0;
  border-bottom: 4px double black;
}

header + nav > a:hover {
  border-bottom: 4px double currentColor;
	transition: all 0.35s ease-in;
}

template {
	display: none;
}

.mono {
  font-family: monospace;
}

.hidden {
  display: none
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

