/*
html, body {
  min-height: 100%;
}
*/

body {
  text-align: left !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  /*justify-content: center;*/
  /*align-content: space-between;*/
  /*align-items: center;*/
}

header, main, footer {
}

header {
  margin: 0;
  padding: 0;
  height: 6rem;
  background: blue;
}

.main {
  flex: 1 1 auto;
  background: red;
}

footer {
  background: green;
  height: 2rem;
}

