:root {

  --base03-color: #002b36;
  --base02-color: #073642;
  --base01-color: #586e75;
  --base00-color: #657b83;
  --base0-color: #839496;
  --base1-color: #93a1a1;
  --base2-color: #eee8d5;
  --base3-color: #fdf6e3;
  --yellow-color: #b58900;
  --orange-color: #cb4b16;
  --red-color: #dc322f;
  --magenta-color: #d33682;
  --violet-color: #6c71c4;
  --blue-color: #268bd2;
  --cyan-color: #2aa198;
  --green-color: #859900;

  /*--link-color: #e30053;*/
  --background: #073642;
  --color: #93a1a1;
  --link-color: #d33682;
  --border-color: #002b36;
  --toolbar-link: #839496;
}

@font-face {
  font-family: 'SourceSerif';
  src: url('/assets/font/sourceserifpro-regular-webfont.woff2') format('woff2'),
       url('/assets/font/sourceserifpro-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'SourceSans';
  src: url('/assets/font/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('/assets/font/sourcesanspro-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  font-size: 62.5%
}

*, *:after, *:before {
  box-sizing: inherit
}


html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: 'SourceSans';
  background: var(--background);
  color: var(--color);
  overflow: hidden;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

p, section > ul.compact-list {
  margin: 1rem 0 1rem 0;
}

a, a:visited, a:hover {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.5s ease-out;
}

header {
  margin: 0;
  padding: 0;
  height: 6rem;
  border-bottom: 1px solid var(--border-color);
  clear: both;
}

header nav {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 0;
  padding: 0;
}

header .app-id {
  float: left;
  font-size: 1.6rem;
  padding: .3rem 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0 1rem;
}

h2.file-info {
  font-size: 2.2rem;
  padding: 0 0 2rem 0;
}

h3 {
  display: inline-block;
  font-size: 1.4rem;
  border-bottom: 1px solid currentColor;
	margin-bottom: 1rem;
}

h3 + p {
	margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  min-height: 100%;
}

main > .content-main {
  flex: 1 1;
  height: calc(100% - 9rem);
  max-height: calc(100% - 9rem);
}

footer {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0.8rem 0;
  height: 3.2rem;
  /*min-height: 3.2rem;*/
  border-top: 1px solid var(--border-color);
}

footer p {
  margin: 0 2rem;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

.sidebar, .editor, .preview {
  flex: 1 0 auto;
}

.sidebar {
  border-right: 1px solid var(--border-color);
  max-width: 32rem;
  width: 20%;
}

.new-page {
	padding: 1rem;
}

.editor, .preview {
  width: 40%;
}

.panel {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

nav.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}

nav.tabs > a {
  flex: 1 0;
  text-align: center;
}

.column-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--border-color);
}

.column-header > * {
  flex: 1 0;
}

nav.tabs {
  /*border-bottom: 1px solid currentColor;*/
}

nav.tabs > a:not(:first-child) {
  border-left: 1px solid var(--border-color);
}

.editor > .column-header .tabs > a {
  border-left: 1px solid var(--border-color);
}

.editor {
  border-right: 1px solid var(--border-color);
}

.preview {
  position: relative;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 23px);
}

.editor > .column-header + p {
  padding-left: 2rem;
}

iframe {
  display: block;
  border: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - 23px);
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.sidebar .scroll {
  /*padding-top: 1rem;*/
	height: calc(100% - 4.3rem);
}

.sidebar .toolbar {
	height: 2.3rem;
  font-size: 1.4rem;
	border-bottom: 1px solid var(--border-color);
  text-align: right;
}

.sidebar .toolbar a {
  display: inline-block;
  text-align: center;
  /*background: #eee8d5;*/
  color: var(--toolbar-link)
  width: 2.3rem;
  height: 2.3rem;
}

.files-list a, .pages-list a {
  color: currentColor;
}

.small, small {
  font-size: 1.4rem;
}

.compact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 a, .tabs > a, header > nav > a {
  background: transparent;
}

h2 a:hover, .tabs > a:hover {
  background: var(--link-color);
  color: white;
  transition: all 0.5s ease-out;
}

.page, .file {
  display: block;
  padding: .2rem 0 .2rem 2rem;
  cursor: pointer;
  user-select: none;
}

.tabs > .selected {
  text-decoration: underline;
  background: var(--link-color);
  color: white;
  pointer-events: none;
}

.page, .file {
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.switcher {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 1000
}

.log.error {
  color: red;
}

/*
.switcher .container {
  flex: 1 0;
  flex-direction: row;
}
*/

input[type="text"], input[type="submit"], input[type="reset"], button {
  font-family: SourceSans;
  padding: 1rem;
  border-radius: 6px;
}

input[type="text"] {
	width: 100%;
}

button, input[type="submit"], input[type="reset"] {
  background: var(--blue-color);
  color: var(--base3-color);
  border: 2px solid var(--base1-color);
  border-style: none;
}

input[type="submit"], input[type="reset"] {
	margin-top: 1rem;
}

.form-actions {
	text-align: right;
}

.form-actions > * {
	margin-left: 0.5rem;
}

.file-editor, .source-editor, .visual-editor {
  height: 100%;
}

.source-editor > .toolbar {
  height: 2.3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: right;
  /*
  background: #073642;
  color: #93a1a1;
  */
}

.text-editor {
  background: #002b36;
  height: calc(100% - 4.6rem)
}

.CodeMirror {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}

header > nav > a {
  flex: 1 0;
  font-size: 1.4rem;
  padding: .3rem 2rem;
  text-transform: uppercase;
  color: var(--blue-color) !important;
}

header > nav > a:hover {
  text-decoration: underline;
  color: white !important;
  background: var(--blue-color)
}

