@font-face {
  font-family: 'SourceSerif';
  src: url('/assets/font/sourceserifpro-regular-webfont.woff2') format('woff2'),
       url('/assets/font/sourceserifpro-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'SourceSans';
  src: url('/assets/font/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('/assets/font/sourcesanspro-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  font-size: 62.5%
}

*, *:after, *:before {
  box-sizing: inherit
}


html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: 'SourceSans';
  /*overflow: hidden;*/
}

template {
  display: none;
}

a, a:visited, a:hover {
  color: #3000d9;
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  height: 6rem;
  border-bottom: 1px solid currentColor;
}

header nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  /*max-width: 32rem;*/
}

header nav a {
  flex: 1 0;
  font-size: 1.6rem;
  padding: .3rem 2rem;
  text-transform: uppercase;
  border-bottom: 4px double #3000d9;
}

header nav a:hover {
  text-decoration: underline;
}

header .app-id {
  font-size: 1.5rem;
  padding-right: 2rem;
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0 2rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  /*background: darkgray;*/
  /*text-shadow: 1px 1px white;*/
  border-bottom: 1px solid currentColor;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  min-height: 100%;
}

main > .content-main {
  flex: 1 1;
  height: calc(100% - 9rem);
  max-height: calc(100% - 9rem);
}

footer {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0.8rem 0;
  height: 3.2rem;
  /*min-height: 3.2rem;*/
  border-top: 1px solid currentColor;
}

footer p {
  margin: 0 2rem;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

.sidebar, .editor, .preview {
  flex: 1 0 auto;
}

.sidebar {
  background: white;
  border-right: 1px solid currentColor;
  max-width: 32rem;
}

nav.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}

nav.tabs > a {
  flex: 1 0;
  text-align: center;
}

.column-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column-header > * {
  flex: 1 0;
}

nav.tabs {
  border-bottom: 1px solid currentColor;
}

nav.tabs > a:not(:first-child) {
  border-left: 1px solid currentColor;
}

.editor > .column-header .tabs > a {
  border-left: 1px solid currentColor;
}

.editor {
  border-right: 1px solid currentColor;
}

.preview {
  position: relative;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 23px);
}

.editor .scroll > p:first-child {
  padding-left: 2rem;
}

iframe {
  display: block;
  border: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - 23px);
}

.hidden {
  display: none;
}

.sidebar .scroll {
  /*padding-top: 1rem;*/
}

.tabs > a, header > nav > a, .page, .file {
  background: transparent;
}

.page, .file {
  display: block;
  padding: .2rem 0 .2rem 2rem;
  cursor: pointer;
}

.tabs > a:hover, header > nav > a:hover {
  background: #3000d9;
  color: white;
  transition: all 0.5s ease-out;
}

.tabs > .selected {
  text-decoration: underline;
}

.page, .file {
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.switcher {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 1000
}

.log.error {
  color: red;
}

/*
.switcher .container {
  flex: 1 0;
  flex-direction: row;
}
*/

.CodeMirror {
  font-size: 1.6rem;
}
