<!doctype html>
<html lang="{{.lang}}">
  <head>
		<title>{{.title}}</title>
		{{if .description}}
		<meta name="description" content="{{.description}}" />
		{{end}}
		<link rel="stylesheet" href='{{root "app.css"}}' />
  </head>
  <body>
    <header>
      <a class="container" href="/">container</a>
      <span>/</span>
      <a class="application" href="/">application</a>
    </header>
		<main>
			{{template "content"}}
		</main>
    <footer>
      <p>This is some footer content</p>
    </footer>
  </body>
</html>
