<!doctype html>
<html lang="{{.lang}}">
  <head>
		<title>{{.title}}</title>
		{{if .description}}
		<meta name="description" content="{{.description}}" />
		{{end}}
		<link rel="stylesheet" href='{{root "app.css"}}' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" title="Home page">
					<span>Ꝏ</span>&nbsp;Home
        </a>
        <a href="/apps/" title="All applications">Apps</a>
        <a href="/docs/" title="Documentation">Docs</a>
      </nav>
      <div class="app-id"><a href="#switch">▾ <span class="name"></span></a></div>
    </header>
		<main>
      <div class="switcher hidden"></div>
			{{template "content"}}
		</main>
    <footer>
      <div class="log">
      <!--<p># This is some footer content</p>-->
      </div>
    </footer>
    <script src="app.js" async></script>
  </body>
</html>
