---
title: New Page
lang: en
author: 
description: New page.
keywords: website, html, page
layout: false
---
<!doctype html>
<html lang="{{.lang}}">
  <head>
		<title>{{.title}}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="{{.author}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href='{{root "favicon.png"}}' />
		{{if .description}}
		<meta name="description" content="{{.description}}" />
		{{end}}
		<link rel="stylesheet" href='{{root "app.css"}}' />
  </head>
  <body>
		<main>
			<header>
				<h1>{{.title}} (Standalone)</h1>
			</header>
		</main>
  </body>
</html>
